body {
  font-family: 'Open Sans', arial, tahoma, sans-serif;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #272727;
    font-family: 'Raleway',sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 15px;
}

#header {
  border-top: 3px solid #88c425;
}
.navbar {
  margin-bottom: 0;
}
#menu {
  border-top: 1px solid #dedede;
  border-bottom: 3px solid #88c425;
}
.navbar-default .navbar-nav > li > a {
  line-height: 30px;
}

.crumbs {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dedede;
    border-top: 3px solid #88c425;
    /*padding: 15px 20px;*/
}
.crumbs:before {
    border-bottom: 20px solid #88c425;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    left: 120px;
    position: absolute;
    top: -20px;
}

.section-title {
  background-color: #232323;
  height: 300px;
  position: relative;
}
.section-title h1 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  padding: 42px 0 0 5px;
  position: relative;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.content-info {
  background: none repeat scroll 0 0 #f4f4f4;
  border-bottom: medium double #ccc;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  margin: -160px auto 0;
  max-width: 1230px;
  position: relative;
}
.content-info > .container {
  padding-top: 50px;
}

.panel-box {
  background-color: #fff;
  border-color: #dedede;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 0 0 30px;
  padding-top: 15px;
}
.panel-box .row {
  margin: 0;
}
.titles {
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  margin-top: -15px;
}
.titles h4 {
  border-left: 5px solid #88c425;
  color: #222;
  margin: 0;
  padding: 10px;
}



#header h1, #header h3{
  color: #124f80;
}




#footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px solid #2d91d9;
}

/* chybové hlášky ve formuláři */
.error {
  color: #a94442;
}

/* novinky v pravidlech */
mark {
  background-color: #FFFF99;
}

/* fotogalerie */
.thumbnail {
  height: 250px;
  padding-top: 10px;
}
.thumbnail .btn-group {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* formulář na zadávání výsledků */
#frm-vysledkyForm .form-group, #frm-vysledkyForm .checkbox {
  display: block;
  margin-bottom: 15px;
}
