<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$pageTitle}</title>
  <link rel="stylesheet" href="{$baseUrl}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{$baseUrl}/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{$baseUrl}/css/styles.css" type="text/css" />
  <link rel="stylesheet" media="print" href="{$baseUrl}/css/print.css?v=3" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *}
  <script src="{$baseUrl}/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{$baseUrl}/favicon.ico">
</head>

<body {ifCurrent Default:*}class="homepage"{/ifCurrent}>

<div id="header" class="navbar navbar-default">

  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> <!-- .navbar-header -->
    </div> <!-- .row -->
  </div> <!-- .container -->

  <div id="menu">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse" id="menu-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{plink Default:}" title="Informace o „Region Beskydy“ volejbalové lize">Úvod</a></li>
            <li><a href="{plink Aktuality:}" title="Aktuality z „Region Beskydy“ volejbalové ligy">Novinky</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktuální ročník <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{plink Propozice:}" title="Propozice pro přihlášení družstva">Propozice</a></li>
                <li><a href="{plink Pravidla:}" title="Pravidla soutěže">Pravidla</a></li>

                <li><a href="{plink Vysledky:}" title="Výsledky aktuálního ročníku">Výsledky</a></li>
                <li><a href="{plink Rozlosovani:}" title="Rozlosování aktuálního ročníku">Rozlosování</a></li>
                <li><a href="{plink Druzstva:}" title="Družstva hrající „Region Beskydy“ volejbalovou ligu">Družstva</a></li>

                {if $user->isLoggedIn()}
                    <li><a href="{plink Hraci:}" title="Evidence hráčů">Hráči</a></li>
                {/if}
              </ul>
            </li>

            <li><a href="{plink Download:}" title="Dokumenty ke stažení">Ke stažení</a></li>
            <li><a href="{plink Diskuze:}" title="Diskuze návštěvníků">Diskuze</a></li>
            {* <li><a href="{plink Akce:}" title="Volejbalové turnaje a akce v Regionu Beskydy">Turnaje</a></li> *}
            <li><a href="{plink Dary:}" title="Dotace a dary pro „Region Beskydy“ volejbalovou ligu">Dotace a dary</a></li>
            <li><a href="{plink Gdpr:}" title="GDPR - ochrana osobních údajů">GDPR</a></li>
            <li><a href="{plink Kontakty:}" title="Kontakty na vedení „Region Beskydy“ volejbalové ligy">Kontakty</a></li>
          </ul>
        </div> <!-- navbar-collapse -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- #menu -->
</div> <!-- .navbar -->

<div class="section-title">
  <div class="overlay-bg"></div>
  <div class="container">
    <h1 class="hidden-xs"><a href="{plink Default:}" title="Informace o „Region Beskydy“ volejbalové lize">„Region Beskydy“ volejbalová liga</a></h1>
    <!-- <h1 class="visible-xs">„RB“VL</h1> -->
  </div>
</div>

<div class="content-info">

  <div class="crumbs hidden-xs"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {foreach $flashes as $flash}
        <p class="alert alert-{$flash->type}">{$flash->message}</p>
        {/foreach}
        {ifCurrent Default:*}
        {* {else} *}
          <h1 class="noPrint">{$pageHeading|noescape}</h1>
        {/ifCurrent}
        {include content}
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->

  <div class="section-wide bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Pořadatel „RB“VL</h4>
          <p>Beskydská volejbalová liga amatérů, z.s.<br>Vítězslava Nezvala 549, Frýdek-Místek<br>IČ 02694409</p>
        </div>
        <div class="col-md-7">
          <div>
            <a href="http://www.frydekmistek.cz/" title="Statutární město Frýdek-Místek"><img src="{$baseUrl}/img/fm-logo3.png" height="80px" alt="Statutární město Frýdek-Místek" /></a>
            <a href="http://www.regionbeskydy.cz/" title="Region Beskydy"><img src="{$baseUrl}/img/rb-logo2.png" height="60px" alt="Region Beskydy" /></a>
          </div>
        </div>
        <div class="col-md-1 text-right">
          {if $user->isLoggedIn()}
            {$user->getIdentity()->username}
            <a href="{link Auth:logout}" class="btn btn-primary" title="Odhlášení uživatele"><span class="glyphicon glyphicon-off"></span></a>
            <ul>
              <li><a href="{link Uzivatele:change}" title="Změna uživatelského jména a hesla">Změna hesla</a></li>
            </ul>
          {else}
            <a href="{link Auth:login}" class="btn btn-primary" title="Přihlášení uživatele"><span class="glyphicon glyphicon-user"></span></a>
          {/if}
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .section-wide -->
</div> <!-- .content-info -->

<div class="footer-down">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav-footer">
            <li><a href="{plink Default:}" title="Informace o „Region Beskydy“ volejbalové lize">ÚVOD</a> </li>
            <li><a href="{plink Aktuality:}" title="Aktuality z „Region Beskydy“ volejbalové ligy">NOVINKY</a></li>
            <li><a href="{plink Kontakty:}" title="Kontakty na vedení „Region Beskydy“ volejbalové ligy">KONTAKTY</a></li>
        </ul>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .footer-down -->


{if isset($scripts)}
  {if in_array('datepicker', $scripts)}
  <link rel="stylesheet" href="{$baseUrl}/css/datepicker.css" type="text/css" />
  <script type="text/javascript" src="{$baseUrl}/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{$baseUrl}/js/bootstrap-datepicker.cs.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker( { autoclose: true, language: 'cs' } );
    $('.datepicker').addClass('form-control');
  });
  </script>
  {/if}
  {if in_array('antispam', $scripts)}
  <script type="text/javascript" src="{$baseUrl}/js/antispam.js"></script>
  {/if}
  {if in_array('autocomplete', $scripts)}
    <link rel="stylesheet" href="{$baseUrl}/css/autocomplete-jquery-ui.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{$baseUrl}/js/autocomplete-jquery-ui.min.js"></script>
  {/if}
  {if in_array('vysledky', $scripts)}
    <script type="text/javascript" src="{$baseUrl}/js/vysledky.js"></script>
  {/if}
  {if in_array('zapis-vysledku', $scripts)}
    <script type="text/javascript" src="{$baseUrl}/js/zapis-vysledku.js"></script>
  {/if}
{/if}

</body>
</html>

