{block content}
<div class="row">
<div class="col-md-12">
<div class="panel-box">
<div class="row">
<div class="col-md-12">
{include vysledky-menu.latte}
</div> <!-- .col-md-12 -->
</div> <!-- .row -->
</div> <!-- .panel-box -->
</div> <!-- .col-md-12 -->
</div> <!-- .row -->
{/block content}
