application:
	mapping:
		*: App\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

services:
	- App\Model\Akce
	- App\Model\Aktuality
	- App\Model\Diskuze
	- App\Model\Stranky
	- App\Model\UserManager
	- App\Model\AuthorizatorFactory::create
	router: App\RouterFactory::createRouter
	nette.latteFactory:
		setup:
			- addFilter("texy", [\Texy(), process])
