application:
	mapping:
		*: App\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

services:
	- App\Model\Aktuality
	- App\Model\Diskuze
	- App\Model\UserManager
	- App\Model\AuthorizatorFactory::create
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\RouterFactory::createRouter
