application:
    catchExceptions: false    # bude se při chybě volat error-presenter?

database:
    dsn: 'mysql:host=127.0.0.1;dbname=rbvl'
    user: root
    password: root

dibi:
    driver: mysql
    host: localhost
    username: root
    password: root
    database: rbvl
    lazy: true
