{block content}
<div class="panel-box">
<div class="row">
<div class="col-md-12">
{if $prispevek}
<p>Opravdu chcete smazat aktualitu ze dne ‘{$prispevek->vlozeno|date:'%d.%m.%Y'}’?</p>
{$form|noescape}

{else}
<p>Požadovaný příspěvek neexistuje.</p>
{/if}
</div>
</div>
</div>
{/block content}
