{block content}
{if $prispevek}
<p>Opravdu chcete smazat příspěvek uživatele ‘{$prispevek->jmeno}’ ze dne ‘{$prispevek->vlozeno|date:'%d.%m.%Y %H:%M'}’?</p>
{$form|noescape}

{else}
<p>Požadovaný příspěvek neexistuje.</p>
{/if}

