{block content}
<div class="panel-box">
<div class="row">
<div class="col-md-12">

<h3>Co je „RB“VL</h3>
<p>
„Region Beskydy“ volejbalová liga („RB“VL) je dlouhodobá soutěž pro předem přihlášená volejbalová družstva, která budou bojovat o&nbsp;putovní pohár „RB“VL.
</p>
<p>
„RB“VL pořádá a&nbsp;řídí spolek Beskydská volejbalová liga amatérů,&nbsp;z.s., se sídlem ve Frýdku-Místku na ulici Vítězslava Nezvala 549, IČ 02694409.
</p>

<h3>Pro koho je „RB“VL určena</h3>
<p>
Soutěž je určena pro neregistrované hráče. To je pro ty, kteří v aktuálním soutěžním ročníku nejsou na soupisce družstva hrající krajské a vyšší soutěže dospělých, ligové soutěže mládeže organizované ČVS. Registrování hráči družstev okresních a městských soutěží jsou pro „RB“VL považování za neregistrované. U žen a u mužů 40 letých a starších se registrovanost neposuzuje.
</p>

<h3>Kdy se bude „RB“VL hrát</h3> <p> Začátkem soutěže bude říjen 2023. Půjde
o&nbsp;6 (případně o&nbsp;7) hracích dnů a&nbsp;to jednou za měsíc od října
2023 do března (případně do dubna) 2024 (vždy v&nbsp;neděli), na kterých
družstvo odehraje pokaždé dvě až čtyři utkání. </p>

<h3>Kde a&nbsp;jak se bude „RB“VL hrát</h3>
<p>
Tento ročník „RB“VL se bude hrát opět ve sportovní hale u&nbsp;6. ZŠ v&nbsp;Místku, ul.&nbsp;Pionýrů 400 na třech kurtech.
</p>
<p>
Podle počtu přihlášených družstev bude stanoven herní systém ročníku. V případě přihlášení většího počtu družstev může pořadatel rozhodnout o možnosti rozdělení soutěže do Ligy „A“ a Ligy „B.
</p>

<h3>Kolik Vás bude „RB“VL stát</h3>
<p>
Startovné činí 7&nbsp;000&nbsp;Kč na družstvo a&nbsp;soutěžní ročník. Bude z&nbsp;něj hrazeno nájemné haly, odměny rozhodčím, ceny vítězům, režijní náklady soutěže.
</p>

<h3>Jak se přihlásit do „RB“VL </h3>
<p>
Přihlášku a soupisku najdete v&nbsp;sekci <a href="{plink Download:}">Ke stažení</a>.
</p>
<p>
Řádně vyplněnou přihlášku, soupisku s&nbsp;uvedením minimálně 8 hráčů a&nbsp;hráček (min. 5 můžu a&nbsp;min. 3 ženy) a úhradu startovného převodem na účet je nutno provést nejpozději <strong>do 10.&nbsp;9.&nbsp;2023</strong>. Přihlášku a&nbsp;soupisku odešlete do uvedeného termínu emailem na adresu: <a href="mailto:werner.cigan@email.cz">werner.cigan@email.cz</a>.
</p>
<p>
Poučení o zpracování osobních údajů je uvedeno v sekci <a href="{plink Gdpr:}">GDPR</a>.
</p>
<p>
Neúplná přihláška nebo soupiska nebude akceptována.
</p>

<h3>Jak zaplatit startovné</h3>
<ul>
<li>příkazem k&nbsp;úhradě na níže uvedený účet vč. variabilního symbolu a&nbsp;zprávy pro příjemce (viz níže)</li>
<li>přímým bankovnictvím na níže uvedený účet vč. variabilního symbolu a&nbsp;zprávy pro příjemce (viz níže)</li>
<li>hotovostní platbou u člena správní rady</li>
</ul>
<p>Družstva, která požadují vystavení faktury pro zaplacení startovného, musí o&nbsp;ni požádat v&nbsp;předstihu s&nbsp;písemným sdělením přesného názvu subjektu, na který se má faktura vystavit</p>

<h3>Bankovní spojení:</h3>
<dl>
<dt>banka:</dt>
<dd>FIO BANKA a.s.</dd>
<dt>číslo účtu:</dt>
<dd>2600551606/2010</dd>
<dt>mezinárodní formát:</dt>
<dd><p>IBAN: CZ7320100000002600551606</p><p>BIC (SWIFT): FIOBCZPPXXX</p></dd>

<dt>variabilní symbol:</dt>
<dd>uveďte telefonní číslo vedoucího příslušného družstva</dd>
<dt>zpráva pro příjemce:</dt>
<dd>celý název družstva</dd>
</dl>

<h3>Termín a podmínky přihlášení</h3>
<p>Platba startovného a&nbsp;odevzdání přihlášky včetně soupisky musí proběhnout <strong>do 10.&nbsp;9.&nbsp;2023</strong>.</p>
<p>
Za termín platby se považuje datum připsání platby na účet (platí pro všechna družstva včetně zahraničních).
</p>
<p>
Za termín doručení přihlášky se soupiskou se považuje datum doručení v&nbsp;elektronické, příp. listinné podobě na uvedené adresy.
</p>
<p>
V případě nedodržení termínu platby, nebo termínu doručení přihlášky se soupiskou, nebo pokud nebude řádně vyplněna přihláška se soupiskou s minimálními počty hráčů, nebude družstvo do soutěže zapsáno.
</p>
<p>Ve Frýdku Místku dne 21. června 2023</p>
</div>
</div>
</div>

